{include file="$usertemplate/header.tpl.html"}	

						<div class="main-container col1-layout">
			<div class="content-page">
				<div class="container-inner">
					<div class="main">
						
						<div class="col-main">
														<div class="std"><div class="appointments-page">
    <div class="appointments-header">
        <h1>Contact Us<p></p></h1>
        <p class="appointments-header-p">New collections on display. Relax with a coffee or tea while browsing our favorite <br> designs. Find what you want and Castlery will deliver to you directly, fuss free.</p>
        <div class="product-img-box">
            <img src="https://www.castlery.com/skin/frontend/castlery/default//images/sample/pic_09.jpg" data-image-url="https://www.castlery.com/skin/frontend/castlery/default//images/sample/pic_09.jpg" alt="" />
        </div>
    </div>
    <div class="appointments-info">
        <div class="contact-us-info clearfix">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a href="https://www.castlery.com//book-appointment" class="product-shop-add"><i class="i-icoStudio"></i>Visit the Studio</a>
                <strong>Delta Studio</strong>
                <p>Mon–Fri: 9:30am–8pm</p>
                <p>Weekend and P.H.: 12PM - 6PM</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a href="tel:+6567445333" class="product-shop-add"><i class="i-icoCallUs"></i>Call us</a>
                <strong>+65 6744 5333</strong>
                <p>Mon–Fri: 9:30am–8pm</p>
                <p>Weekend and P.H.: 12PM - 6PM</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a href="javascript:;" onclick="LC_API.open_chat_window();return false;" class="product-shop-add"><i class="i-icoChatUs"></i>CHAT WITH US</a>
                <strong>Talk to a human, not a bot</strong>
                <p>Mon–Fri: 9:30am–8pm</p>
                <p>Weekend and P.H.: 12PM - 6PM</p>
            </div>
        </div>
        <div class="contact-email">
            <div class="contact-email-from">
                <h2>EMAIL US:</h2>
                <p class="appointments-header-p">Contact one of our experts and we’ll get back to you as soon as possible.  <br>We generally respond within one working day.</p>
                <form action="/contacts/index/post" id="contactForm" method="post">
                    <div class="contact-email-list row">
                        <div class="contact-email-list-li col-xs-12 col-sm-12 col-md-4">
                            <input name="name" id="name" placeholder="Your Name *" title="Name" value="" class="required-entry input" type="text" />
                        </div>
                        <div class="contact-email-list-li col-xs-12 col-sm-12 col-md-4">
                            <input name="email" id="email" placeholder="Your Email *" title="Email" value="" class="required-entry validate-email input" type="text" />
                        </div>
                        <div class="contact-email-list-li col-xs-12 col-sm-12 col-md-4">
                            <select name="subject" id="subject" class="select">
                                <option value="Product Questions">Product Questions</option>
                                <option value="Shipping / Order Status">Shipping / Order Status</option>
                                <option value="Change / Cancel My Order">Change / Cancel My Order</option>
                                <option value="Request Return">Request Return</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row contact-email-list contact-email-list-bottom">
                        <div class="contact-email-list-li col-xs-12 col-sm-12 col-md-4">
                            <input name="telephone" id="telephone" placeholder="Contact No. *" title="Telephone" value="" class="required-entry validate-number input" type="text" />
                        </div>
                    </div>
                    <div class="contact-email-list-textarea">
                        <textarea name="comment" id="comment" placeholder="Ask your questions *" title="Comment" class="required-entry input-text" cols="5" rows="3"></textarea>
                    </div>
                    <p class="contact-email-list-btn">
                        <button type="submit" title="Submit" class="product-shop-add"><span><span>Email Us</span></span></button>
                    </p>
                </form>
                <script type="text/javascript">
                //<![CDATA[
                    var contactForm = new VarienForm('contactForm', true);
                //]]>
                </script>
            </div>
        </div>
    </div>
</div></div>						</div>
					</div>
				</div>
			</div>
		</div>
{include file="$usertemplate/header.tpl.html"}	