<div class="cateFilterSide">
    <div class="cateFilterSide__mainFilter" id="cateFilter__filterContainer">
                      <dl class="cateFilterSide__item menu-list-content " >
          <dt class="cateFilterSide__item__title">
            <a>
              <span>Type</span>
              <svg>
                <use xlink:href="images/svg-icons.svg#plus"></use>
              </svg>
            </a>
          </dt>
          <dd class="cateFilterSide__item__options">
            <ol id="aw-ln-filter-1-options" style="overflow: hidden;">
                    <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="category"
                       value="118"
                                           />
                <span class="checkbox-input"></span>
                 
                                
    <a title="pendant light">pendant light</a>
            </label>
            <!--<span>(18)</span>-->
        </li>
                    <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="category"
                       value="119"
                                           />
                <span class="checkbox-input"></span>
                 
                                
    <a title="floor lamp">floor lamp</a>
            </label>
            <!--<span>(8)</span>-->
        </li>
                    <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="category"
                       value="120"
                                           />
                <span class="checkbox-input"></span>
                 
                                
    <a title="lamp">lamp</a>
            </label>
            <!--<span>(9)</span>-->
        </li>
                    <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="category"
                       value="212"
                                           />
                <span class="checkbox-input"></span>
                 
                                
    <a title="">lightbulbs</a>
            </label>
            <!--<span>(7)</span>-->
        </li>
                    <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="category"
                       value="511"
                                           />
                <span class="checkbox-input"></span>
                 
                                
    <a title="">wall lamp</a>
            </label>
            <!--<span>(6)</span>-->
        </li>
    </ol>
<script type="text/javascript">
    awLnUpdaterInstance.registerFilter(
        new awLnFilterTypeInput({
            name: "category",
            containerElSelector: "#aw-ln-filter-1-options"        })
    );
</script>          </dd>
        </dl>
                              <dl class="cateFilterSide__item menu-list-content " >
          <dt class="cateFilterSide__item__title">
            <a>
              <span>Availability</span>
              <svg>
                <use xlink:href="images/svg-icons.svg#plus"></use>
              </svg>
            </a>
          </dt>
          <dd class="cateFilterSide__item__options">
            <ol id="aw-ln-filter-16-options" style="overflow: hidden;" class="">
            <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="availability"
                       value="774"
                                           />
                <span class="checkbox-input"></span>
                
    <a title="">In 3 working days</a>
            </label>
            <!--<span>(35)</span>-->
        </li>
            <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="availability"
                       value="775"
                                           />
                <span class="checkbox-input"></span>
                
    <a title="">Up to 4 weeks</a>
            </label>
            <!--<span>(45)</span>-->
        </li>
            <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="availability"
                       value="776"
                                           />
                <span class="checkbox-input"></span>
                
    <a title="">Up to 6 weeks</a>
            </label>
            <!--<span>(45)</span>-->
        </li>
            <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="availability"
                       value="777"
                                           />
                <span class="checkbox-input"></span>
                
    <a title="">Up to 9 weeks</a>
            </label>
            <!--<span>(45)</span>-->
        </li>
            <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="availability"
                       value="778"
                                           />
                <span class="checkbox-input"></span>
                
    <a title="">Up to 12 weeks</a>
            </label>
            <!--<span>(48)</span>-->
        </li>
    </ol>
<script type="text/javascript">
    awLnUpdaterInstance.registerFilter(
        new awLnFilterTypeInput({
            name: "availability",
            containerElSelector: "#aw-ln-filter-16-options"        })
    );
</script>          </dd>
        </dl>
                              <dl class="cateFilterSide__item menu-list-content " >
          <dt class="cateFilterSide__item__title">
            <a>
              <span>Color</span>
              <svg>
                <use xlink:href="images/svg-icons.svg#plus"></use>
              </svg>
            </a>
          </dt>
          <dd class="cateFilterSide__item__options">
            <ol id="aw-ln-filter-3-options" style="overflow: hidden;" class="filter-image-only">
            <li class="aw-ln-filters-container-1column-layout">
            <label class="">
                <input type="checkbox"
                       name="color"
                       value="345"
                                           />
                <span class="checkbox-input"></span>
                
    <img src="https://www.castlery.com/media/aw_layerednavigation/cache/345/48x48/grey-tone.jpg" alt="Grey Tone" title=""/>
            </label>
            <!--<span>(9)</span>-->
        </li>
            <li class="aw-ln-filters-container-1column-layout">
            <label class="">
                <input type="checkbox"
                       name="color"
                       value="346"
                                           />
                <span class="checkbox-input"></span>
                
    <img src="https://www.castlery.com/media/aw_layerednavigation/cache/346/48x48/black-tone.jpg" alt="Black Tone" title=""/>
            </label>
            <!--<span>(16)</span>-->
        </li>
            <li class="aw-ln-filters-container-1column-layout">
            <label class="">
                <input type="checkbox"
                       name="color"
                       value="347"
                                           />
                <span class="checkbox-input"></span>
                
    <img src="https://www.castlery.com/media/aw_layerednavigation/cache/347/48x48/beige-tone.jpg" alt="Beige Tone" title=""/>
            </label>
            <!--<span>(8)</span>-->
        </li>
            <li class="aw-ln-filters-container-1column-layout">
            <label class="">
                <input type="checkbox"
                       name="color"
                       value="339"
                                           />
                <span class="checkbox-input"></span>
                
    <img src="https://www.castlery.com/media/aw_layerednavigation/cache/339/48x48/yellow-tone.jpg" alt="Yellow Tone" title=""/>
            </label>
            <!--<span>(4)</span>-->
        </li>
            <li class="aw-ln-filters-container-1column-layout">
            <label class="">
                <input type="checkbox"
                       name="color"
                       value="342"
                                           />
                <span class="checkbox-input"></span>
                
    <img src="https://www.castlery.com/media/aw_layerednavigation/cache/342/48x48/blue-tone.jpg" alt="Blue Tone" title=""/>
            </label>
            <!--<span>(3)</span>-->
        </li>
            <li class="aw-ln-filters-container-1column-layout">
            <label class="">
                <input type="checkbox"
                       name="color"
                       value="358"
                                           />
                <span class="checkbox-input"></span>
                
    <img src="https://www.castlery.com/media/aw_layerednavigation/cache/358/48x48/multi-tones.jpg" alt="Multi Tone" title=""/>
            </label>
            <!--<span>(8)</span>-->
        </li>
    </ol>
<script type="text/javascript">
    awLnUpdaterInstance.registerFilter(
        new awLnFilterTypeInput({
            name: "color",
            containerElSelector: "#aw-ln-filter-3-options"        })
    );
</script>          </dd>
        </dl>
                              <dl class="cateFilterSide__item menu-list-content " >
          <dt class="cateFilterSide__item__title">
            <a>
              <span>Price</span>
              <svg>
                <use xlink:href="images/svg-icons.svg#plus"></use>
              </svg>
            </a>
          </dt>
          <dd class="cateFilterSide__item__options">
            <ol id="aw-ln-filter-10-options" style="overflow: hidden;" class="">
            <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="price"
                       value="75"
                                           />
                <span class="checkbox-input"></span>
                
    <a title="">$0 - $200</a>
            </label>
            <!--<span>(46)</span>-->
        </li>
            <li class="aw-ln-filters-container-2column-layout">
            <label class="">
                <input type="checkbox"
                       name="price"
                       value="76"
                                           />
                <span class="checkbox-input"></span>
                
    <a title="">$201 - $500</a>
            </label>
            <!--<span>(2)</span>-->
        </li>
    </ol>
<script type="text/javascript">
    awLnUpdaterInstance.registerFilter(
        new awLnFilterTypeInput({
            name: "price",
            containerElSelector: "#aw-ln-filter-10-options"        })
    );
</script>          </dd>
        </dl>
                                </div>
    <div class="cateFilterSide__subFilter">
      <div class="cateFilterSide__subFilter__title">Featured</div>
      <ul class="cateFilterSide__subFilter__content">
        <li><a href="https://www.castlery.com/new-arrivals.html">New Arrivals</a></li>
      </ul>
    </div>
  </div>
  
  
  <script type="text/javascript">
    $jq(document).ready(function() {
      decorateDataList('cateFilter__filterContainer');
      awLnUpdaterInstance.init({
        menuContainerElSelector: '.cateFilterTop',
        layerContainerElSelector: ".cateFilterSide",
        productsContainerElSelectorList: [".category-view", ".results-view", ".category-products"],
        emptyProductsContainerElSelectorList: [".note-msg"],
        toolbarContainerElSelectorList: [
          ".category-view .toolbar",
          ".results-view .toolbar",
          ".category-products .toolbar"
        ],
        clearAllElSelector: '.cateFilterTop__reset',
        //clearFilterElSelector: '.aw-ln-filter-clear',
        //toggleFilterElSelector: '.aw-ln-filter-toggle',
        //mobileDropdownElList: '.menu-list-content-dt',
        isAjax: true,
        overlaySettings: {"color":"#FFF","opacity":"50","image":"https:\/\/www.castlery.com\/media\/aw_layerednavigation\/config\/overlay\/default\/loading.gif","imageWidth":"32","imageHeight":"32"},
        overlayCssClass: 'aw-ln-overlay'
      });
      $jq('img.lazy').unveil();
      $jq('.product-list-line').each(function() {
        $jq(this).children('.product-list-amount').matchHeight();
      });

      //+++++++++++ dropdown ++++++++++++++
      //active first one if there's no active one
      if (!document.querySelector('.cateFilterSide__item.active')) {
        var first = document.querySelector('.cateFilterSide__item');
        first.classList.add('active');
        first.style.height = 'auto';
      }
      //set height of active ones for better animation
      [].forEach.call(document.querySelectorAll('.cateFilterSide__item.active'), function (c) {
        c.style.height = (c.children[0].clientHeight + c.children[1].clientHeight) + 'px';
      });

      $jq('.cateFilterSide__item__title > a').click(function () {
        var container = this.parentNode.parentNode;
        if (container.classList.contains('active')) {
          container.classList.remove('active');
          container.style.height = this.parentNode.clientHeight + 'px';
        }
        else {
          container.classList.add('active');
          container.style.height = (this.parentNode.clientHeight + this.parentNode.nextElementSibling.clientHeight) + 'px';
        }
      })

      //hide or show sdie 
      $jq('.cateFilterTop__toggle').click(function () {
        document.querySelector('.category-products').classList.toggle('f-hide');
        if (document.querySelector('.cateFilterSide').classList.contains('f-hide')) {
          setTimeout(function () {
            document.querySelector('.cateFilterSide').classList.remove('f-hide');
          }, 200);
        }
        else {
          document.querySelector('.cateFilterSide').classList.add('f-hide');
        }
      })
    });
  </script>