{include file="$usertemplate/header.tpl.html"}	


						<div class="main-container col1-layout card-background-container">
			<div>
				<div class="container-inner">
					<div class="main">
						<div class="breadcrumbs">
    <ul>
                    <li class="home">
                            <a href="https://www.castlery.com/" title="Go to Home Page">Home</a>
                                        <span>> </span>
                        </li>
                    <li class="category58">
                            <a href="https://www.castlery.com/lighting.html" title="">Lighting</a>
                                        <span>> </span>
                        </li>
                    <li class="product">
                            <strong>Lex Floor Lamp, Black</strong>
                                    </li>
            </ul>
</div>

						<div class="col-main">
														
<script>
    $$('.ampromo-gift img').each(function (img){
        img.observe('mouseover', ampromo_tooltip_show);
        img.observe('mouseout', ampromo_tooltip_hide);
    });
</script>


<div style="clear: both;"></div><script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice([]);
</script>
<div class="mobile-section-divider">
    <div id="messages_product_view"></div>
    <div class="product-view">
        <div class="product-essential">
            <form action="https://www.castlery.com/checkout/cart/add/uenc/aHR0cHM6Ly93d3cuY2FzdGxlcnkuY29tL2xpZ2h0aW5nL2xleC1mbG9vci1sYW1wLWJsYWNrLmh0bWw,/product/3060/form_key/PB9YFRdvbpBISKcI/" method="post"
                  id="product_addtocart_form">
                <div class="clearfix">
                    <div class="product-img-box">
                                        <div class="cslr-slider-controls">
                <a id="large-image-next" class="ico-next" href="javascript:;">
                    Next
                </a>
                <a id="large-image-prev" class="ico-prev" href="javascript:;">
                    Previous
                </a>
            </div>
        <div class="product-image-gallery"></div>
    <ul id="cslr-large-images">
                        <li>
                    <img data-slide-index="0" src="https://www.castlery.com/media/catalog/product/cache/1/image/1995x1166/9df78eab33525d08d6e5fb8d27136e95/l/e/lex-floor-lamp-front.jpg" alt=""/>
                </li>
                            <li>
                    <img data-slide-index="1" src="https://www.castlery.com/media/catalog/product/cache/1/image/1995x1166/9df78eab33525d08d6e5fb8d27136e95/l/e/lex-floor-lamp-feature.jpg" alt=""/>
                </li>
                            <li>
                    <img data-slide-index="2" src="https://www.castlery.com/media/catalog/product/cache/1/image/1995x1166/9df78eab33525d08d6e5fb8d27136e95/l/e/lexfloorlamp.jpg" alt=""/>
                </li>
                </ul>
    <div class="more-views">
        <div id="bx-images-pager" class="clearfix">
            <h2>More Views</h2>
                                <a href="#" data-slide-index="0" title=""></a>
                                <a href="#" data-slide-index="1" title=""></a>
                                <a href="#" data-slide-index="2" title=""></a>
                    </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var slider = $jq('#cslr-large-images').bxSlider({
            pagerCustom: '#bx-images-pager',
            controls: false,
            mode: 'fade',
            speed: 300,
            useCSS: false,
            preloadImages: 'visible'
        });

        $jq('#large-image-prev').click(function () {
            slider.goToPrevSlide();
            return false;
        });

        $jq('#large-image-next').click(function () {
            slider.goToNextSlide();
            return false;
        });
        //]]>
    </script>
  </div>
  
  <div class="product-shop">
      <div class="product-shop-inner">
          <div class="product-summary">
             <div class="product-summary__left">
                <div class="product-name"><h1>Lex Floor Lamp, Black</h1></div>
                <div class="price-box"><span class="regular-price" id="product-price-3060">
                <span class="price">$139</span>            </span>
                        
               </div>
           
              <div class="typical-retail-price">Typical Retail Price:
                                            <span>$299</span>
                                            <a href="#product-question" class="i-icoQuestionGray" data-toggle="modal"
                                               data-target="#product-question"></a>
                                            <a href="#" class="i-icoShareProduct"></a>
                                        </div>
                                                                    </div>
                                <div class="product-summary__right">
                                    		
					<a  href="https://www.castlery.com/wishlist/index/add/product/3060/form_key/PB9YFRdvbpBISKcI/" class="link-wishlist add-wishlist wishlist-mobile">
			<svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/svg-icons.svg#heart"></use>
      </svg>
		</a>
			                                </div>
                            </div>
                                                        <ul class="product-shop-list">
                                                                                                <li class="product-shop-list-li clearfix">
    <span class="product-shop-list-label">Quantity
          </span>
    <div class="product-shop-list-info">
        <div class="product-shop-list-info-quantity">
            <a href="javascript:;" class="product-shop-quantity-cut"><span class="cut"></span></a>
            <span class="product-shop-quantity-show qty">1</span>
            <input type="hidden" name="qty" id="qty" maxlength="12"
                   value="1"
                   title="Qty"
                   class="product-shop-quantity-value"
                   qtyInc="1"
                />
            <a href="javascript:;" class="product-shop-quantity-add"><span class="cut"></span><span class="add"></span></a>
        </div>
    </div>
</li>                                <li class="product-shop-list-li clearfix">
    <span class="product-shop-list-label">Estimated Arrival</span>
    <div class="product-shop-list-info">
        <span class="product-shop-list-info-time">
            Nov 05 - Nov 12        </span>
        <a href="#product-arrival" class="i-icoQuestion" data-toggle="modal" data-target="#product-arrival"></a>
    </div>
</li>                                
                                                                                            </ul>
                            <div class="product-button-container clearfix">
                                                                    <div class="add-to-box add-to-box2">
                                                                                        <div class="add-to-cart">
        <button type="button" title="" class="product-shop-add" data-loading-text="Loading..." autocomplete="off" onclick="productAddToCartForm.submit(this)"><span>Add to Cart</span></button>
            </div>
                                                                                                                    </div>
                                                                    
                                
                                                                <div class="add-to-box add-to-box1">
                                    <div class="actions-inner">
                                        
<div class="add-to-links">
		
					<button type="button" class="link-wishlist add-wishlist" data-loading-text="Saving..." autocomplete="off" href="https://www.castlery.com/wishlist/index/add/product/3060/form_key/PB9YFRdvbpBISKcI/"><span>Add to Wishlist</span></button>
	</div>
                                                                            </div>
                                </div>
                            </div>
                            
                            <div class="product-shop-share">

    <span>Share this:</span>
    <a href="javascript:void(0)" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.castlery.com%2Flex-floor-lamp-black.html%3Futm_source%3Dfacebook%26utm_medium%3Dshare-product%26utm_content%3D211016%26utm_term%3DLex-Floor-Lamp--Black%26utm_campaign%3Dsocial-share','CastleryWindow','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" class="i-icoShareFacebook"></a>
    <a href="javascript:void(0)" onclick="window.open('http://www.twitter.com/intent/tweet?text=I+saw+this+and+fell+in+love.+Lex+Floor+Lamp%2C+Black+by+Castlery%21&via=Castlery&url=https%3A%2F%2Fwww.castlery.com%2Flex-floor-lamp-black.html%3Futm_source%3Dtwitter%26utm_medium%3Dshare-product%26utm_content%3D211016%26utm_term%3DLex-Floor-Lamp--Black%26utm_campaign%3Dsocial-share','CastleryWindow','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" class="i-icoShareTwitter"></a>
    <a href="javascript:void(0)" onclick="window.open('https://plus.google.com/share?url=https%3A%2F%2Fwww.castlery.com%2Flex-floor-lamp-black.html%3Futm_source%3Dgoogle-plus%26utm_medium%3Dshare-product%26utm_content%3D211016%26utm_term%3DLex-Floor-Lamp--Black%26utm_campaign%3Dsocial-share','CastleryWindow','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" class="i-icoShareG"></a>
    <a href="javascript:void(0)" onclick="window.open('https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.castlery.com%2Flex-floor-lamp-black.html%3Futm_source%3Dpinterest%26utm_medium%3Dshare-product%26utm_content%3D211016%26utm_term%3DLex-Floor-Lamp--Black%26utm_campaign%3Dsocial-share&media=https%3A%2F%2Fwww.castlery.com%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2F1%2Fimage%2F9df78eab33525d08d6e5fb8d27136e95%2Fl%2Fe%2Flex-floor-lamp-front.jpg&description=I+saw+this+and+fell+in+love.+Lex+Floor+Lamp%2C+Black+by+Castlery.','CastleryWindow','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" class="i-icoSharePinterest"></a>

</div>

                            <button type="button" class="btn btn btn-block product-add-to-cart"
                                    onclick="productAddToCartForm.submit(this)">Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearer"></div>
                <div class="no-display">
                    <input type="hidden" name="product" value="3060"/>
                    <input type="hidden" name="related_product" id="related-products-field" value=""/>
                </div>

            </form>
            <script type="text/javascript">
                //<![CDATA[
                var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function (button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                            form.action = url;
                        }
                        var e = null;
                        try {
                            this.form.submit();
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }

                        if (button && button != 'undefined') {
                            button.disabled = true;
                        }
                    }
                }.bind(productAddToCartForm);

                productAddToCartForm.submitLight = function (button, url) {
                    if (this.validator) {
                        var nv = Validation.methods;
                        delete Validation.methods['required-entry'];
                        delete Validation.methods['validate-one-required'];
                        delete Validation.methods['validate-one-required-by-name'];
                        // Remove custom datetime validators
                        for (var methodName in Validation.methods) {
                            if (methodName.match(/^validate-datetime-.*/i)) {
                                delete Validation.methods[methodName];
                            }
                        }

                        if (this.validator.validate()) {
                            if (url) {
                                this.form.action = url;
                            }
                            this.form.submit();
                        }
                        Object.extend(Validation.methods, nv);
                    }
                }.bind(productAddToCartForm);
                //]]>
            </script>
        </div>
    </div>
</div>


<!-- Product Designer Talk -->
<div class="container containerNo product-info-container">
    <div class="mobile-section-divider">
        <div class="product-description-new-wrapper-desktop">
            <div class="row">
                                    <div class="product-description-new col-xs-12 col-md-6">
                        <a>
                            Why We Love It                            <svg>
                                <use
                                    xlink:href="images/svg-icons.svg#arrow-down"></use>
                            </svg>
                        </a>
                        <div>
                            <p>The Lex floor lamp shades are inspired by the lighting of the 60s and 70s. They are fully adjustable, so not only do they look great, but they can be moved and angled to highlight art work or bring light to a reading area without compromising on the overall illumination of the room.</p>
                        </div>
                    </div>
                                                    <div class="product-description-new col-xs-12 col-sm-6 col-md-3">
            <a>
                product info                <svg><use xlink:href="images/svg-icons.svg#arrow-down"></use></svg>
            </a>
            <div>
                <ul>
                                            <li>
                            <label>Dimension:</label>
                                                            <span>W40 x D25 x H152cm</span>
                                                    </li>
                                            <li>
                            <label>Material:</label>
                                                            <span>Metal</span>
                                                    </li>
                                            <li>
                            <label>Mechanism:</label>
                                                            <span>Switch, On Cable; Adjustable, Head</span>
                                                    </li>
                                            <li>
                            <label>Specifications:</label>
                                                            <span>Screw Cap, E14; Wattage, Max 40W</span>
                                                    </li>
                                    </ul>
            </div>
        </div>
                            <div class="product-description-new col-xs-12 col-sm-6 col-md-3">
            <a>
                delivery & returns                <svg><use xlink:href="images/svg-icons.svg#arrow-down"></use></svg>
            </a>
            <div>
                <ul>
                                            <li>
                            <label>Delivery Fee:</label>
                                                            <span>S$15.99</span>
                                                    </li>
                                            <li>
                            <label>Delivery Type:</label>
                                                            <span>
                                Mail Order                                    <a href="#delivery-type-mail-order" class="i-icoQuestion" data-toggle="modal" data-target="#delivery-type-mail-order"></a>
                                </span>
                                                    </li>
                                            <li>
                            <label>Warranty:</label>
                                                            <span>1 Year </span>
                                                    </li>
                                            <li>
                            <label>Cancellation:</label>
                                                            <span>48 Hours Free Cancellation</span>
                                                    </li>
                                            <li>
                            <label>Returns:</label>
                                                            <span>30 Days Return</span>
                                                    </li>
                                    </ul>
            </div>
        </div>
                </div>
        </div>
        <div class="product-description-new-wrapper-mobile">
            <div class="row">
                                    <div class="product-description-new col-xs-12 col-md-6">
                        <a>
                            Why We Love It                            <svg>
                                <use xlink:href="images/svg-icons.svg#arrow-down"></use>
                            </svg>
                        </a>
                        <div>
                            <p>The Lex floor lamp shades are inspired by the lighting of the 60s and 70s. They are fully adjustable, so not only do they look great, but they can be moved and angled to highlight art work or bring light to a reading area without compromising on the overall illumination of the room.</p>
                        </div>
                    </div>
                                                    <div class="product-description-new col-xs-12 col-sm-6 col-md-3">
            <a>
                product info                <svg><use xlink:href="images/svg-icons.svg#arrow-down"></use></svg>
            </a>
            <div>
                <ul>
                                            <li>
                            <label>Dimension:</label>
                                                            <span>W40 x D25 x H152cm</span>
                                                    </li>
                                            <li>
                            <label>Material:</label>
                                                            <span>Metal</span>
                                                    </li>
                                            <li>
                            <label>Mechanism:</label>
                                                            <span>Switch, On Cable; Adjustable, Head</span>
                                                    </li>
                                            <li>
                            <label>Specifications:</label>
                                                            <span>Screw Cap, E14; Wattage, Max 40W</span>
                                                    </li>
                                    </ul>
            </div>
        </div>
                            <div class="product-description-new col-xs-12 col-sm-6 col-md-3">
            <a>
                delivery & returns                <svg><use xlink:href="images/svg-icons.svg#arrow-down"></use></svg>
            </a>
            <div>
                <ul>
                                            <li>
                            <label>Delivery Fee:</label>
                                                            <span>S$15.99</span>
                                                    </li>
                                            <li>
                            <label>Delivery Type:</label>
                                                            <span>
                                Mail Order                                    <a href="#delivery-type-mail-order" class="i-icoQuestion" data-toggle="modal" data-target="#delivery-type-mail-order"></a>
                                </span>
                                                    </li>
                                            <li>
                            <label>Warranty:</label>
                                                            <span>1 Year </span>
                                                    </li>
                                            <li>
                            <label>Cancellation:</label>
                                                            <span>48 Hours Free Cancellation</span>
                                                    </li>
                                            <li>
                            <label>Returns:</label>
                                                            <span>30 Days Return</span>
                                                    </li>
                                    </ul>
            </div>
        </div>
                </div>
        </div>
    </div>

    <!-- Delivery Type Content -->
<div class="modal fade in product-carousel-modal-other tooltip-modal" id="delivery-type-mail-order" tabindex="-1" role="dialog"

     aria-labelledby="productHintModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                    <div id="product-hint-modal" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <div class="product-question-content">
                            Mail order items are typically smaller in packaging sizes. Items will be dispatched from our warehouse and orders will be fulfilled by our third party logistic partners. These items will normally be placed into your mailbox, or if not, you will receive a call before the delivery to your front door. Please note, assembly may be required by the customer for mail order items.
                        </div>
                    </div>
                    <a href="javascript:;" type="button" class="i-icoCloseBlack" data-dismiss="modal"
                       aria-label="Close"><span aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="mobile-section-divider">
        <div class="clearfix">
    <div class="product-headline-mobile">Product Details</div>
    <div class="product-promo-content">
        <div class="row">
                
<div class="product-short-banner">
    <img src="https://cslr-knight.s3.amazonaws.com/cms/lightings/lex-floor-lamp/lex-floor-lamp-SB.jpg">
    <div class="product-image-writeup">
        <p>Swivel the three lights in a number of different ways to get the light coverage you need without compromising.</p>
    </div>
</div>
<div class="product-column-images clearfix">
    <div class="column-image col-md-4 col-xs-12">
        <img src="https://cslr-knight.s3.amazonaws.com/cms/lightings/lex-floor-lamp/lex-floor-lamp-C1.jpg">
    </div>
    <div class="column-image col-md-4 col-xs-12">
        <img src="https://cslr-knight.s3.amazonaws.com/cms/lightings/lex-floor-lamp/lex-floor-lamp-C2.jpg">
    </div>
    <div class="column-image col-md-4 col-xs-12">
        <img src="https://cslr-knight.s3.amazonaws.com/cms/lightings/lex-floor-lamp/lex-floor-lamp-C3.jpg">
    </div>

</div>
<div class="product-image-writeup">
    <p>Another great feature is the slim base, this ensures that the footprint of the piece is kept to a minimum. Slip the base under furniture to save space.</p>
</div>        </div>
    </div>
</div>

    </div>

        <div class="mobile-section-divider">
        <div class="product-list-content row">
            <h2 class="product-headline-desktop">From the Same Collection</h2>
            <div class="product-headline-mobile">From the Same Collection</div>
            <div class="owl-carousel owl-carousel-product">
                                    <div class="product-list-amount item clearfix">
                        <div class="product-list-img products">
                            <a href="https://www.castlery.com/lighting/daniel-floor-lamp.html"> <span class="product-image"> <img
                                        class="lazy"
                                        src="https://www.castlery.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/d/a/daniel-floor-lamp-catalog.jpg"
                                        data-src="https://www.castlery.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/d/a/daniel-floor-lamp-catalog.jpg"
                                        width="330" alt="Daniel Floor Lamp"/> </span><span
                                    class="product-image image-rotator"> <img
                                        src="https://www.castlery.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/d/a/daniel-floor-lamp-catalog.jpg"
                                        width="330" alt="Daniel Floor Lamp"/> </span> </a>
                        </div>
                            <div class="product-list-price product-list-price-name col-xs-12 col-md-12 col-sm-12">
                                <p><a href="https://www.castlery.com/lighting/daniel-floor-lamp.html">Daniel Floor Lamp</a>
                                </p>

                                <div class="price-box">
                                                                            <span class="regular-price">
                                                        <span
                                                            class="price">$129</span>
                                                    </span>
                                                                    </div>
                                                                    <div class="typical-retail-price">
                                        Typical Retail Price:
                                        <span>$269</span>
                                    </div>
                                                            </div>
                    </div>
                                    <div class="product-list-amount item clearfix">
                        <div class="product-list-img products">
                            <a href="https://www.castlery.com/lighting/marshall-floor-lamp.html"> <span class="product-image"> <img
                                        class="lazy"
                                        src="https://www.castlery.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/m/a/marshall-floor-lamp-catalog.jpg"
                                        data-src="https://www.castlery.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/m/a/marshall-floor-lamp-catalog.jpg"
                                        width="330" alt="Marshall Floor Lamp"/> </span><span
                                    class="product-image image-rotator"> <img
                                        src="https://www.castlery.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/m/a/marshall-floor-lamp-catalog.jpg"
                                        width="330" alt="Marshall Floor Lamp"/> </span> </a>
                        </div>
                            <div class="product-list-price product-list-price-name col-xs-12 col-md-12 col-sm-12">
                                <p><a href="https://www.castlery.com/lighting/marshall-floor-lamp.html">Marshall Floor Lamp</a>
                                </p>

                                <div class="price-box">
                                                                            <span class="regular-price">
                                                        <span
                                                            class="price">$259</span>
                                                    </span>
                                                                    </div>
                                                                    <div class="typical-retail-price">
                                        Typical Retail Price:
                                        <span>$599</span>
                                    </div>
                                                            </div>
                    </div>
                            </div>
        </div>
    </div>

    
    
	<div class="mobile-section-divider product-customer-review">
		<div class="product-list-content row">
            <h2 class="product-headline-desktop">Customer Reviews</h2>
            <div class="product-headline-mobile">Customer Reviews</div>
			<div class='reviews-to-fill owl-carousel owl-theme'></div>
		</div>
	</div>

    <div class="mobile-section-divider">
        <div class="content-section swatches-wrapper">
            <div class="product-fabric-swatches-mobile">
                <a href="https://www.castlery.com/fabric-swatches"><img
                        src="https://www.castlery.com/skin/frontend/castlery/default//images/single-product/mcta1.jpg"
                        alt="Request Fabric Swatches" title=""/></a>
            </div>
            <div class="product-studio-mobile">
                <a href="https://www.castlery.com/book-appointment"><img
                        src="https://www.castlery.com/skin/frontend/castlery/default//images/single-product/mcta2.jpg" alt="Our Studio"
                        title=""/></a>
                <div>
                    <div class="product-studio-mobile-text">Our first shop and retail store is open in Delta House. Come
                        and have a look around.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="product-collateral">
		
		</div>-->
<script>
                $jq(document).ready(function() {
            window.criteo_q = window.criteo_q || [];
            window.criteo_q.push(
                {event: "setAccount", account: 25682},
                {event: "setHashedEmail", email: "" },
                {event: "setSiteType", type: window.siteType},
                {event: "viewItem", item: "51850004"}
            );
        });
    </script><!-- Fabric Swatches -->
<div class="product-fabric-swatches-new">
    <div class="product-fabric-swatches-content">
        <div class="product-fabric-swatches-content-inner">
            <strong>Free Fabric Swatches</strong>
            <p>We have spent a long time curating the perfect fabric selection for you and we are very proud to work
                with some of the best fabric manufacturers around the world.<br>Rub, stroke, study, and hopefully fall
                in love with our fabrics before you place your order.</p>
            <a href="https://www.castlery.com/fabric-swatches">Order
                now</a>
        </div>
    </div>
</div>
<div class="product-studio clearfix">
    <div class="product-studio-new-content product-studio-new-half">
        <div class="product-studio-left">
            <i class="i-icoDeltaStudio"></i>
            <strong>Delta Studio</strong>
            <p>Our first shop and retail store is open in Delta House. Come and have a look around.</p>
            <a href="https://www.castlery.com/book-appointment"
               class="product-shop-add">Visit the Studio</a>
        </div>
    </div>
    <div class="product-studio-new-content product-studio-new-half product-studio-image">
    </div>
</div>

<div class="modal fade in product-carousel-modal-other tooltip-modal" id="product-question" tabindex="-1" role="dialog"
     aria-labelledby="productCarouselModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <div class="product-question-content">
                            A typical retail price is the approximate cost of the product, if it were to be sold in a
                            shopping mall. We base this figure on the closest equivalent on design, quality and
                            functionality. This figures shows we sell our items at an honest price.
                        </div>
                    </div>
                    <!-- <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">
                                            <a class="close-icon">X</a>
                                    </span>
                            <span class="sr-only">Close</span>
                    </button> -->
                    <a href="javascript:;" type="button" class="i-icoCloseBlack" data-dismiss="modal"
                       aria-label="Close"><span aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in product-carousel-modal-other tooltip-modal" id="product-arrival" tabindex="-1" role="dialog"
     aria-labelledby="productCarouselModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <div class="product-question-content">
                            Estimated arrival is the prediction of when your furniture will arrive. We know how
                            important an accurate delivery date can be, so we have some of the world's most brilliant
                            minds working on this for you. It's not an exact science, but don’t worry it's pretty
                            accurate.
                        </div>
                    </div>
                    <a href="javascript:;" type="button" class="i-icoCloseBlack" data-dismiss="modal"
                       aria-label="Close"><span aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in product-carousel-modal-other tooltip-modal" id="product-quantity" tabindex="-1" role="dialog"
     aria-labelledby="productCarouselModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <div class="product-question-content">This product is sold in pairs. Price is displayed per
                            single item.
                        </div>
                    </div>
                    <a href="javascript:;" type="button" class="i-icoCloseBlack" data-dismiss="modal"
                       aria-label="Close"><span aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $jq(document).ready(function () {
        var accordions = document.querySelectorAll('.product-description-new-wrapper-mobile .product-description-new');

        var collapseAll = function () {
            [].forEach.call(accordions, function (accordion) {
                accordion.style.height = '60px';
                accordion.children[0].classList.remove('open');
            });
        };

        Array.prototype.forEach.call(accordions, function (accordion, index) {
            var aBtn = accordion.children[0];
            var aDiv = accordion.children[1];

            // initialize
            if (index === 0) {
                if (aDiv.offsetHeight === 0)
                    accordion.style.height = 'auto';
                else
                    accordion.style.height = (60 + aDiv.offsetHeight) + 'px';
                aBtn.classList.add('open');
            }
            else {
                accordion.style.height = '60px';
            }

            aBtn.addEventListener('click', function () {
                if (!aBtn.classList.contains('open')) {
                    collapseAll();
                    accordion.style.height = (60 + aDiv.offsetHeight) + 'px';
                    aBtn.classList.add('open');
                }
                else {
                    aBtn.classList.remove('open');
                    accordion.style.height = '60px';
                }
            });
        });
    });
</script>

<script type="text/javascript">
    var lifetime = 3600;
    var expireAt = Mage.Cookies.expires;
    if (lifetime > 0) {
        expireAt = new Date();
        expireAt.setTime(expireAt.getTime() + lifetime * 1000);
    }
    Mage.Cookies.set('external_no_cache', 1, expireAt);
</script>
<script type="text/javascript">
            fbq('track', 'ViewContent', {
            content_name: 'Lex Floor Lamp, Black',
            content_ids: ['51850004'],
            content_type: 'product',
            value: 139.00,
            currency: 'SGD'
        });
                ga('ec:addProduct', {
            'id': '51850004',
            'name': 'Lex Floor Lamp, Black',
        });
        ga('ec:setAction', 'detail');
        ga('send', 'pageview');
    </script>
						</div>
					</div>
				</div>
			</div>
		</div>
                        
                	</div>
{include file="$usertemplate/footer.tpl.html"}	