{include file="$usertemplate/header.tpl.html"}	
<div class="main-container col1-layout">
	<div class="content-page">
	<div class="container-inner">
	<div class="main">
			<div class="col-main">
		<div class="std"></style>
<div class="static-page">
    <div class="static-header">
        <h1>Return Policy<p></p></h1>
        <p class="static-header-p">We want all our products to end up in happy homes. If you don't absolutely love your
            order, please feel free to inform us.</p>
        <img src="https://www.castlery.com/skin/frontend/castlery/default/images/static/returns-exchanges.jpg"
             alt="Returns & Exchanges"/>
    </div>
    <div class="static-content">
        <h3>SHOP WITH CONFIDENCE</h3>

        <p>Thank you for shopping with Castlery! Your satisfaction is our number one priority, and we’re committed to providing you with a delightful shopping experience.</p>

        <p>Every product we sell is unique, carefully designed and strictly checked by our Quality Control team. These products represent our high standards for craftsmanship and quality for material.</p>

        <p>We also have a dedicated Customer Experience team standing by to help with all of your shopping needs.</p>

        <h3>30-DAYS RETURN POLICY</h3>

        <p>We know how it goes. Sometimes, no matter how much you love the design, it may not perfectly fit your space.</p>

        <p>That's why we offer a 30-Days Return Policy:</p>

        <p>1) This means you have a full 30 days from the date of delivery to determine whether or not a new item is a perfect fit for your space. If you decide for any reason you are completely unsatisfied, contact us at help@castlery.com or +65 67445333 so we can facilitate the return.</p>

        <p>2) All return item has to be unused and in perfect condition in its original state. If item is found with defect(s), we will reject the return.</p>

        <p>3) Shipping is a hard cost we incur from our logistics partners. If you decide to return the item, a restocking fee will be charged at per item 20% of the orginal invoiced value. As such, you be refunded the following: Purchase Price - Restocking Fee = Refunded Amount (S$)</p>

        <p>4) Our Logistics team will contact you to schedule for the collection. We will only perform the refund after we collect the returned item and customer's refund details. All refunds will take 14 days to process and we will issue in the form of a credit back to the original method of payment. However, Castlery reserves the rights to change the mode of refund.</p>

        <p>5) The 30-Day Return Policy is non-applicable to items marked as "Final Sale", "Display Item" & "Customized Order".</p>

        <h3>CANCELLATION POLICY</h3>

        <p>If you change your mind and decide to cancel your order, please notify us within 48 hours from date of purchase and there will be no additional charges incurred. Please email us at help@castlery.com to process this request.</p>

        <p>Any cancellation after 48 hours from date of purchase will be subject to a cancellation fee of S$50 per item valued at equivalent or above S$500 and 5% per item valued below S$500. This means we will refund you the invoiced amount less cancellation fee.</p>

        <p>All refunds will take 14 days to process and will be credited back to the original mode of payment. However, Castlery reserves the rights to change the mode of refund.</p>


        <h3>CUSTOMIZED ORDERS</h3>

        <p>We offer unique customized designs tailored to your needs. If you change your mind and decide to cancel your order, please email us at help@castlery.com within 48 hours from the date of purchase. Unfortunately, we will not be able to accept cancellations or change of orders after 48 hours. </p>

        <h3>BUNDLE ORDERS</h3>

        <p>We constantly seek to provide the best value for our customers hence all bundle sales are carefully priced. For cancellation or refund of any item(s) from the bundle sales, we will have to charge the balance item(s) at their orginal selling price.</p>
        <p>Thus, you will not be entitled to the bundle price offer. Please note that cancellation or restocking fee also applies.</p>

        <h3>HAVE MORE QUESTIONS?</h3>
        <p>Visit our <a href="https://www.castlery.com/contact-us">Contact Us</a> Page.</p>
    </div>
</div></div>						</div>
					</div>
				</div>
			</div>
		</div>
 {include file="$usertemplate/footer.tpl.html"}	